<ul class="nav nav-tabs nav-model-tag">
<% modules.forEach(function(moduleTag, i) { %>
      <% if (i == 0) { %>
        <li class="active" data-id = "<%= moduleTag.id %>">
      <% } else { %>
        <li data-id = "<%= moduleTag.id %>">
      <% } %> 
          <a data-toggle="tab" href="#model-tag-<%= moduleTag.id %>" >
            <%= moduleTag.name %>
          </a>
        </li>
<% }); %>
</ul>
<div class="nav-contonts padded tab-content">
      <% modules.forEach(function(moduleTag, i) { %>
          <% if (i == 0) { %>
            <div class="active tab-pane clearfix"
             id = "model-tag-<%= moduleTag.id %>">
          <% } else { %>
            <div class="tab-pane clearfix"
            id = "model-tag-<%= moduleTag.id %>" >
          <% } %> 
            </div>
    <% }); %>
</div>



<script type="text/javascript">
   $(function() {
    var paths = {
      script : '/public/scripts'
      , lib : '/public/scripts/lib'
    };
    <% modules.forEach(function(moduleTag, i) { %>
      <% moduleTag.modules.forEach(function(module) { %>
      paths.<%= module.id %> = '/public/modules/<%= module.id %>';
      <% }); %>
    <% }); %>
    seajs.config({
      base : '/public'
      ,paths : paths 
    });

   

    seajs.use('/public/scripts/main', function(util) {
      var Modules = util.Modules;
      var View = util.View;
      var modules = new Modules();
      var view = new View(modules);
      modules.fetch().done(function(data){
          
      });
    });

   });
</script>

