<script type="text/javascript">
   $(function() {
    var paths = {
      script : '/public/scripts'
      , lib : '/public/scripts/lib'
    };

    <% modules.forEach(function(module) { %>
      paths.<%=module.id %> = '<%= "/public/modules/" + module.id %>';
    <% }); %>

    seajs.config({
      base : '/public'
      ,paths : paths 
    });

    seajs.use('/public/scripts/main', function(util) {
      var Modules = util.Modules;
      var View = util.View;
      var modules = new Modules();
      var view = new View(modules);
      modules.fetch().done(function(data){
          
      });
    });

   });
</script>

