<div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">天气预报</div>
      <div class="panel-body">
        今天天气
      </div>
    </div>
</div>
<div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">星座运势</div>
      <div class="panel-body">
        射手座。。。
      </div>
    </div>
</div>
<div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">淘宝热卖</div>
      <div class="panel-body">
        热卖
      </div>
    </div>
</div>