<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>格子</title>
    <link rel="stylesheet" type="text/css" href="/public/styles/bootstrap3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/styles/index.css">
   
    <script type="text/javascript" src="/public/scripts/lib/lodash.min.js"></script>
    <script type="text/javascript" src="/public/scripts/lib/jquery.1.9.0.js"></script>
    <script type="text/javascript" src="/public/scripts/lib/backbone-min.js"></script>
    <script type="text/javascript" src="/public/styles/bootstrap3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/public/scripts/lib/sea.js"></script>
    <script type="text/javascript" src="/public/scripts/lib/seajs-text.js"></script>
    <script type="text/javascript" src="/public/scripts/main.js"></script>


</head>
<body>
<div id = "forkOnGitHubWrap" class="visible-md visible-lg">
  <a href="https://github.com/iamjoel/grabInfo" target="_blank">Fork me on GitHub</a>
</div>
<header class="navbar navbar-inverse  bs-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="../">格子</a>
        </div>
    </div>
</header>
<div id = "main" class="container"><%- body %></div>


</body>
</html>